#perkenalan {
	font-size: 16px;
	color: red;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	border-color: yellow;
	border-style: solid;
}

img:hover{
	transform: rotate(7deg);
}

p {
	text-align: center;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: linear;
}

p:hover{
	background: #2db34a;
}

.nama {
	font-color: green;
}

ul {
	text-align: center;
}

h1 , h2{
	text-align: center;
	color: red;
}

.wrapper {
	text-align: center;
}

.gambar {
	display: inline-block;
	width:300px;
	float:left;
}

.tulisan {
	display: inline-block;
	width: 900px;
	float: right;
}

.baris{
	display: block;
	height: auto;
	clear: both;
}

.banner {
	text-align:center;
}